Total Job Count: <%= @projects.count %><br>
Contract Jobs Value: <%= to_cur(@projects.contracted.sum(:quote)) %>
<div class="form-wrapper">
	<h4>My Projects</h4>
	<table class="table">
	  <%= render "shared/projects_table" %>
	</table>
</div>
