My Job Count: <%= @aloc_projects.count %><br>
My Jobs Value: <%= to_cur(@aloc_projects.contracted.sum(:quote)) %>
<div class="form-wrapper">
	<h4>Projects i'm pricing...</h4>
	<table class="table">
	  <%= render "shared/projects_table" %>
	</table>
</div>
