<div id="welcome-bar" class="bar-style bar-thin add-margin bold-bar">
  <span>edit <%= @user.role %> account</span>
</div>

<div class="form-wrapper">
<%= render 'form' %>
</div>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

