<div class="" id="visible-map">
  <div id="map-bar" class="bar-style bar-thin add-margin bold-bar">
    <span class="map-btn" id="HideMap_Btn">Hide Map</span>
  </div>
  <div style='width: 999px; margin: 1px 0 0 1px;'>
    <div id="map" style='width: 100%; height: 400px;'></div>
  </div>
</div>
<div class="" id="hidden-map">
  <div id="map-bar" class="bar-style bar-thin add-margin bold-bar">
    <span class="map-btn" id="ShowMap_Btn">Show Map</span>
  </div>
</div>