<div id="edit-project" class="bar-style bar-thin add-margin bold-bar">
  <span>Edit Project <%= @project.reference %></span>
</div>
<br>
<%= render 'admin_form' %>
<br><br>
<%= link_to 'Cancel', projects_path %>
