<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @project.first_name %>,</h1>
    <p>
      Thank you for contacting us at Habitat Landscapes.
      
      <br><br>
      While we deal with your enquiry, please take 2 minutes to create a My Habitat account to track your project. A Habitat account offers many great features, inlcuding the ability to follow your project from start to finish should you choose us to undertake your work. You will also be able stay in touch with us specifically regarding your own enquiry/project. 
      
      <br><br>
      Why not make it personal with your very own Habitat account. 
      
      <br><br>
      Follow this link to quickly create one. 
      
      <br><br>
      <%= signup_url(:reference => @project.reference, :name => @project.first_name, :lastname => @project.last_name, :email => @project.email) %>
    
			<br><br>
			The Habitat Team
    </p>
  </body>
</html>