<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @project.first_name %></h1>
    <p>
      Please find attached our standard works contract.


			<br><br>
			The Habitat Team
    </p>
  </body>
</html>