<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Thank you for your enquiry for another landscaping job


			<br><br>
			The Habitat Team
    </p>
  </body>
</html>