<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>...to get a full access My Habitat account</p>

    <h1>Hi <%= @project.first_name %>,</h1>
    <p>
      Thank you for contacting us at Habitat Landscapes.
      
      <br><br>
      We will be dealing with your request as soon as possible, and someone from the Habitat team will be in touch very soon.
      
      <br><br>
      In the mean time, please take 2 minutes to create a My Habitat account to take full advantage of all the features we offer such as the ability to track your enquiries, and follow your projects all the way to completeion should they progress further. Don't worry, it's also completely FREE.
      
      <br><br>
      Go on... make it personal with your very own Habitat account. Either follow the "sign up to track your enquiry" link on our website, or click the link below.

      <br><br>
      <%= signup_url(:reference => @project.reference, :name => @project.first_name, :lastname => @project.last_name, :email => @project.email) %>
    
			<br><br>
			The Habitat Team
    </p>
  </body>
</html>