$banners: #4A4A4A;
$banner-text: white;
$text-hover: #9AC66A;
$notice-green: #9AC66A;
$white: white;

$bar-borders: solid 1px $white;

$appgreen: #9AC66A;

$main-font: LiSong, "LiSong Pro";
$second-font: Avenir, Avenir Next;

$hab-light-green: #9AC66A;
$hab-dark-green: #417505;
$red: #F7765B;

$stage1color: #52C4F5;
$stage2color: #FF6A7C;
$stage3color: #FFA951;
$stage4color: #B8E3BF;
$stage5color: #E3E3E3;