/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require simple-line-icons
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";
@import "variables";
@import "simple-line-icons";

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.white-text {color: white;}
a { color: $banners;  &:hover {text-decoration: none; color: $text-hover;} }

body {
	margin: 0;
	overflow: auto;
}
header {
	color: $banners;
	font-family: $main-font;
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	#logo {
		padding: 25px 40px;
		width: 132px;
		height: 41px;
	}
	#search-signout {
		margin-top: -40px;
		float: right;
		#search-form {
			width: 180px;
			text-align: right;
			font-family: $second-font;
			.search-field { height: 25px !important; padding: 1px 5px 0 5px;}
			#search-btn { height: 25px; padding: 0 10px; margin-top: 2px;}
		}
		#signout {
			margin-top: -12px;
			text-align: right;
		}
	}	
	
}

section {
	width: 1000px;
	margin: 0 auto;
}

.bar-style {
	margin: 0 auto;
	background: $banners;
	text-align: center;
	color: $banner-text;
	font-family: $main-font;
	letter-spacing: 3px;
	font-weight: 100;	
}

.bar-thin {
	width: 1000px;
	height: 38px;
	span {
		font-size: 0.8em;
		display: inline-block;
		margin-top: 10px;
		a { text-decoration: none; color: white; &:hover { color: $text-hover; }}
	}
}

.add-margin { margin-top: 1px; }

.green-bar { 
	background: $appgreen; 
	span { 
		a { &:hover { color: $banners; } }
	}
}

.bold-bar { 
	font-family: $second-font; 
	font-weight: 600;
	font-size: 1.3em; 
	span {margin-top: 8px;}
}

.alt-bar {
	color: $banners;
	span {a {color: $banners;}}
	background: white;
	border-top: solid 1px $banners; 
	border-bottom: solid 1px $banners; 
}

.form-wrapper {
	width: 50%;
	margin: 20px auto;
}

.notification {
  margin-bottom: 1px;
  height: 30px;
  color: white;
  padding-top: 5px;
  font-weight: bold;
}
#alert { background: $red; }
#notice { background: $hab-light-green; }

	.stage1 {
		background: $stage1color ;
	}
	.stage2 {
		background: $stage2color ;
	}
	.stage3 {
		background: $stage3color ;
	}
	.stage4 {
		background: $stage4color ;
	}
	.stage5 {
		background: $stage5color ;
	}

footer { margin-top: 10px; }
